.home-content-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.home-content-container::-webkit-scrollbar {
    display: none;
}

.home-content {
    position: relative;
    overflow: auto;
    padding: 1rem 1.5rem;
    flex: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    /* background-color: #dbdbdb; */
    background-color: orange;
}

.home-content-row{
    flex: 1;
}

.ant-col:first-child {
    padding-left: 0 !important;
}

.ant-col:last-child {
    padding-right: 0 !important;
}

.home-content::-webkit-scrollbar {
    display: none;
}

.home-drawer {
    background-color: #f4f44a;
    width: 20%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}

.divider{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
    font-size: large;
}

.home-drawer .avatar{
    margin: 5rem auto;
    aspect-ratio: 1;
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-drawer .menu {
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    margin: 0 0.5rem;
    align-items: stretch;
    font-size: large;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    cursor: pointer;
}

.home-drawer .menu.active{
    background-color: white;
}

.home-drawer::-webkit-scrollbar {
    display: none;
}

.home-image-box{
    height: 100%;
}